#game-board-div {
  border: 1px solid purple;
  margin-top: 10px;
  width: 80%;
  flex-wrap: wrap;
}

// TrumpIcon.js
.trump-svg {
  width: 70px;
  margin: 2px;
  &.target {
    filter: drop-shadow(1px 1px 10px rgb(253, 173, 0));
    // filter: drop-shadow(1px 1px 10px rgb(141, 0, 0));
  }
}
