@import "./variables";
@import "./mixins";

@import "./header";
@import "./controls";
@import "./gameBoard";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
  background-image: url("../Assets/Confederate_Rebel_Flag.svg");
  background-repeat: repeat;
  background-size: 20%;
}

.App {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100vh;
  @include desktop-screen-up {
    left: 15%;
    width: 70%;
    height: 100vh;
  }
  &.unclicked {
    cursor: url("../Assets/hammer.svg"), auto;
  }
  &.clicked {
    cursor: url("../Assets/hammer-clicked.svg"), auto;
  }
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
}
